<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset=“utf-8”>
    <title>
        Home
    </title>
    <script>
        function showForm() {
            document.getElementById("signin").style.display = "block";
            document.getElementById("success").style.display = "none";
        }
    </script>
</head>

<body>
    <h1>
        Raccolta preferenze film
    </h1>

    <form method="get" action="/users">
        Accedi con il tuo username <input type="text" id="uname" name="uname">&nbsp<input type="submit" value="Accedi">
    </form>

    <p>
        <input type="button" id="showForm" name="showForm" value="Registrati" onclick="showForm()">
    <form id="signin" method="post" action="/users" style="display: none;">
        Nome:&nbsp<input type="text" name="name">
        Cognome:&nbsp<input type="text" name="last">
        Età:&nbsp<input type="number" min="1" max="110" name="age">
        Genere:&nbsp<input type="text" name="gender">
        E-mail:&nbsp<input type="email" name="email">
        Username:&nbsp<input type="text" name="username">
        <input type="submit" id="confirm" name="confirm" value="Invia">
    </form>
    </p>

    <p id="success" style="display: block;">
    <% if(flag === 1) { %>
        Utente registrato con successo!
        <% } else if(flag === 2) { %>
            Informazioni aggiornate con successo!
            <% } %> 
    </p>
</body>

</html>