<!DOCTYPE html>
<html>

<head>
  <title>
    Home
  </title>
</head>

<body>
  <h1>
    Raccolta preferenze film
  </h1>

  <form method="get" action="/users">
    Accedi con il tuo username&nbsp<input type="text" id="uname" name="uname">&nbsp<input type="submit" value="Accedi">
  </form>

  <p>
    <input type="button" id="signin" name="signin" value="Registrati">
  </p>


</body>

</html>
