<!DOCTYPE html>
<html>

<head>
    <title>Pagina utente</title>
    <script>
        function showForm() {
            document.getElementById("editForm").style.display = "block";
        }
    </script>
</head>

<body>
    <h1>Gestione utente</h1>
    <p>
        <input type="button" id="mod" name="mod" value="Modifica dettagli account" onclick="showForm()" />
    </p>
    <form id="editForm" style="display: none">
        Nome: <% user.name %>&nbsp|&nbsp<input type="text" /><br />
        Cognome: <% user.last %>&nbsp|&nbsp<input type="text" /><br />
        Età: <% user.age %>&nbsp|&nbsp<input type="text" /><br />
        Genere: <% user.gender %>&nbsp|&nbsp<input type="text" /><br />
        Username: <% user.username %>&nbsp|&nbsp<input type="text" /><br />
        E-mail: <% user.email %>&nbsp|&nbsp<input type="text" /><br />
        <input type="button" id="save" name="save" value="Salva" />
    </form>
    <p>
    
    <form method="get" action="/preferences">
        <input type="button" id="pref" name="pref" value="Scelta delle preferenze" />
    </form>
    </p>
</body>

</html>