<!DOCTYPE html>
<html>

<head>
  <title>
    Home
  </title>
  <script>
    function showButton() {
      document.getElementById("pref").style.display = "block";
      document.getElementById("login").style.display = "none";
    }
  </script>
</head>

<body>

  <p>
  <fieldset>
    <legend>Inserire username</legend>
    <form method="get" action="/users">
      <input type="text" id="uname" name="uname" required autofocus />
  </fieldset>
  </p>
  <input type="submit" value="Accedi" id="login" style="display: block;" onclick="showButton()" />
  </form>

  <input type="button" value="Procedi alle preferenze" id="pref" style="display: none;">

  <p>
    <% if(user) { %>
      Utente autenticato: <%= user.name%> <%= user.last %>
    <% } %>
  </p>

</body>

</html>