<!DOCTYPE html>
<html>
    <head>
        <% let rand1 = Math.floor((Math.random() * (193609-0)) +0);%>
        <% let rand2 = Math.floor((Math.random() * (193609-0)) +0);%>
    </head>
    <body>
        <div>

        </div>
        <div>

        </div>
    </body>
</html>