<!DOCTYPE html>
<html>

<head>
  <title>
    Home
  </title>
</head>

<body>

  <p>
  <fieldset>
    <legend>Inserire username</legend>
    <form method="get" action="/users">
      <input type="text" id="uname" name="uname" required autofocus />
  </fieldset>
  </p>
  <input type="submit" value="Accedi" />
  </form>

</body>

</html>