.img {
  width: 350px;
  height: auto;
}

#show-pair {
  display: flex;
  justify-content: center;
  gap: 100px;
}

fieldset {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}

.content-box {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #080808;
}

#button-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}